---
import siteConfig from '../data/site-config';
---

<header class="w-full max-w-3xl mx-auto mb-12 sm:mb-16">
    {
        siteConfig.logo && siteConfig.logo?.src ? (
            <a href="/">
                <img src={siteConfig.logo.src} alt={siteConfig.logo.alt || ''} class="max-h-12" />
            </a>
        ) : (
            <div class="flex items-center gap-6">
                <a href="/">
                    <img 
                        src="/cartoon-avatar.png" 
                        alt="Henry" 
                        class="w-16 h-16 rounded-full object-cover sm:w-20 sm:h-20"
                    />
                </a>
                <div class="flex flex-col">
                    <a class="font-serif text-2xl leading-tight font-medium text-theme-foreground sm:text-4xl" href="/">
                        {siteConfig.title}
                    </a>
                    {siteConfig.subtitle && <p class="text-sm leading-tight mt-1">{siteConfig.subtitle}</p>}
                </div>
            </div>
        )
    }
</header>
